ion-content {
    --background: url('../../assets/image/logo.png')no-repeat center center / cover;
}




.btn1{
position:relative;
font-family: 'Cairo', sans-serif;
width:70%;
height:120%;
}

.btn2{
    position:relative;
    font-family: 'Cairo', sans-serif;
    width:70%;
    height:120%;
}

.chaine {
    top: 30px;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    position: relative;
}

.chaine1 {
    top: 30px;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    position: relative;
}

.abc {
    font-family: 'Cairo', sans-serif;
    text-align: center;
    top:5vmax;
    position: relative;
}

.grid-column {
    border: 1px #e1c007 dashed;
}

.lab {
    top: 32px;
    position: absolute;
    font-family: 'Cairo', sans-serif;
  }

.labb {
    top: 10px;
    position: absolute;
}


.circular--square{
    border-radius: 90%;

}

.pos {
    position: relative;
    top: -3vmax;
    font-family: 'Cairo', sans-serif;
}

.parent-row {
    height: 15% !important;
    align-items: center !important;
    justify-content: center !important;
  }