ion-content {
    --background: url('../../assets/image/logo.png')no-repeat center center / cover;
}

.lab {
    top: 32px;
    position: absolute;
    font-family: 'Cairo', sans-serif;
}

.labb {
    top: 10px;
    position: absolute;
}

.circular--square {
    border-radius: 50%;
}

.grid-column {
    border: -1px #e1c007 dashed;
}