ion-content {
    --background: url('../../assets/image/logo.png')no-repeat center center / cover;
  }

  
  .lab {
    top: 32px;
    position: absolute;
    font-family: 'Cairo', sans-serif;
  }
  
  .labb {
    top: 10px;
    position: absolute;
  }

  .grid {
    margin: 5% 5% 5% 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5%;
  }

  @media screen and (min-width:360px) and (max-width:480px){
    .size1{display:initial  !important;}
   .size2{display:none !important;}
   .size3{display:none !important;}
  }
  
  @media screen and (width:320px){
    .size1{display:none  !important;}
   .size2{display:initial !important;}
   .size3{display:none !important;}
  }
  
  @media screen and (min-width:600px) and (max-width:1024px){
    .size1{display:none  !important;}
   .size2{display:none !important;}
   .size3{display:initial !important;}
  }

