<ion-header>
  <ion-toolbar>
    <i class="fa fa-times" style="font-size:28px;color:primary;margin-left:90vmin;"  (click)="closeManif()"></i>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list ngFor="eluC of eluC">
<ion-item>
  <br> <br> <br>
  <a href=tel:{{telephone}}>
    <i class="fa fa-phone-square"  style="font-size:8vmin;color:#0ec254;"></i><ion-text style="font-size:4vmin;">&nbsp;&nbsp;{{telephone}}</ion-text></a>
    <br> <br> <br>
  </ion-item>

<ion-item>
  <br> <br> <br>
    <a href=fax:{{fax}}>
      <i class="fa fa-fax" style="font-size:8vmin;color:black;"></i><ion-text style="font-size:4vmin;">&nbsp;&nbsp;{{fax}}</ion-text></a>
      <br> <br> <br>
    </ion-item>

    <ion-item>
      <br> <br> <br>
      <a href=mailto:{{email}}>
        <i class="fa fa-envelope-square" style="font-size:8vmin;color:rgba(218, 23, 23, 0.795);"></i><ion-text style="font-size:4vmin;">&nbsp;&nbsp;{{email}}</ion-text></a>
        <br> <br> <br>
      </ion-item>



    <ion-item>
      <br> <br> <br>
      <div *ngIf="facebook ==null">
        <i class="fa fa-facebook-square" style="font-size:12vmin;color:#3171e0;margin-left:20vmin;"   (click)="message()"></i>
      </div>
        <div *ngIf="facebook !=null">
      <a href={{facebook}}>
        <i class="fa fa-facebook-square" style="font-size:12vmin;color:#3171e0;margin-left:20vmin;"></i></a>
</div>

      
        <div *ngIf="instagram ==null">
          <i class="fa fa-instagram" style="font-size:12vmin;color:#c620cc;margin-left:32vmin;"  (click)="message()"></i>
        </div>
        <div *ngIf="instagram !=null">
          <a href={{instagram}}>
          <i class="fa fa-instagram" style="font-size:12vmin;color:#c620cc;margin-left:32vmin;"></i></a>
        </div>
        <br> <br> <br>
        </ion-item>

      <ion-item>
        <br> <br> <br>
        <div *ngIf="linkedin ==null">
          <i class="fa fa-linkedin"style="font-size:12vmin;color:rgb(13, 116, 175);margin-left:20vmin;"  (click)="message()"></i>
        </div>
          <div *ngIf="linkedin !=null">
        <a href={{linkedin}}>
          <i class="fa fa-linkedin"style="font-size:12vmin;color:rgb(13, 116, 175);margin-left:20vmin;"></i></a>
        </div>

          <div *ngIf="twitter ==null">
            <i class="fa fa-twitter-square" style="font-size:12vmin;color:#51d2e9;margin-left:32vmin;"  (click)="message()"></i>
          </div>
          <div *ngIf="twitter !=null">
          <a href={{twitter}}>
            <i class="fa fa-twitter-square" style="font-size:12vmin;color:#51d2e9;margin-left:32vmin;"></i></a>
      </div>
      <br> <br> <br>
          </ion-item>
          </ion-list>
</ion-content>
