ion-content {
  
  --background: url('../../assets/image/logo.png')no-repeat center center / cover;
}

.lab {
  top: 32px;
  position: absolute;
  font-family: 'Cairo', sans-serif;
}

.labb {
  top: 10px;
  position: absolute;
}

.my-grid {
  height: 100% !important;
}

.parent-row {
  height: 88% !important;
  align-items: center !important;
  justify-content: center !important;
}