<ion-header>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col>
              <ion-img src="../assets/image/a.png" width="20vmin">
              </ion-img>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

<ion-content padding class="size1">
  <br>
  <ion-list  style="width:70%;height:30px;background-color: rgb(225, 192, 7); border-radius: 60px;position: relative;left:14vmin;" >
    <ion-item color="warning">
      <div class="col text-center">
      <p style="color:#083378;font-size:3vmin;top:-3px;position:relative;font-family: 'Cairo', sans-serif;" color="primary" ><b> اضغط هنا للبحث عن الدائرة</b></p>
<ion-select style=" color:#083378;margin-left:500vmin;"   (ionChange)="onContextChange($event.detail.value)"  okText="موافق" cancelText="رجوع">
         <div *ngFor="let circonscription of circonscription">
            <ion-select-option value={{circonscription.nom}}> {{ circonscription.nom }} </ion-select-option>
          </div>
      </ion-select>
    </div>
    </ion-item>
  </ion-list>


  <div class="legrid">
         <ion-grid>
           <ion-row >
               <div  *ngFor="let listeC of listeC">
                 <ion-col size="2" *ngIf="(listeC.id == 11)"><ion-img src="../assets/image/4.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
     
                 <ion-col size="2" *ngIf="(listeC.id == 23)"><ion-img src="../assets/image/16.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
       
               <ion-col size="2" *ngIf="(listeC.id == 19)" ><ion-img src="../assets/image/12.png" (click)="DetailsPage(listeC)"></ion-img>
             </ion-col> 
 
             <ion-col size="2" *ngIf="(listeC.id == 15)"><ion-img src="../assets/image/8.png" (click)="DetailsPage(listeC)"></ion-img>
             </ion-col>
               </div>
         </ion-row>
   </ion-grid> 
   
      
 
       <ion-grid>
         <ion-row >
             <div  *ngFor="let listeC of listeC">
                   <ion-col size="2" *ngIf="(listeC.id == 3)" ><ion-img src="../assets/image/3.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
           
                   <ion-col size="2" *ngIf="(listeC.id == 22)"><ion-img src="../assets/image/15.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col> 
 
                 <ion-col size="2" *ngIf="(listeC.id == 14)"><ion-img src="../assets/image/7.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
 
                 <ion-col size="2" *ngIf="(listeC.id == 18)"><ion-img src="../assets/image/11.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
               </div>
             </ion-row>
       </ion-grid>
 
 
   
       <ion-grid>
         <ion-row >
             <div  *ngFor="let listeC of listeC">
               <ion-col size="2" *ngIf="(listeC.id == 2)" ><ion-img src="../assets/image/2.png" (click)="DetailsPage(listeC)"></ion-img>
               </ion-col>
 
                 <ion-col size="2" *ngIf="(listeC.id == 13)"><ion-img src="../assets/image/6.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
             
                 <ion-col size="2" *ngIf="(listeC.id == 17)"><ion-img src="../assets/image/10.png" (click)="DetailsPage(listeC)"></ion-img>
                </ion-col>
             
                 <ion-col size="2" *ngIf="(listeC.id == 21)"><ion-img src="../assets/image/14.png" (click)="DetailsPage(listeC)"></ion-img>
                </ion-col>
               </div>
          </ion-row>
   </ion-grid>
    
 <ion-grid>
           <ion-row >
               <div  *ngFor="let listeC of listeC">
                     <ion-col size="2" *ngIf="(listeC.id == 12)"><ion-img src="../assets/image/5.png" (click)="DetailsPage(listeC)"></ion-img>
                       </ion-col>
             
                       <ion-col size="2" *ngIf="(listeC.id == 16)"><ion-img src="../assets/image/9.png" (click)="DetailsPage(listeC)"></ion-img>
                     </ion-col>
               
                       <ion-col size="2" *ngIf="(listeC.id == 20)"><ion-img src="../assets/image/13.png" (click)="DetailsPage(listeC)"></ion-img>
                     </ion-col> 
                     <ion-col size="2" *ngIf="(listeC.id == 1)"><ion-img src="../assets/image/1.png" (click)="DetailsPage(listeC)"></ion-img>
                     </ion-col>
                   </div>
                 </ion-row>
           </ion-grid>
 
                   <ion-grid>
                     <ion-row >
                     <div  *ngFor="let listeC of listeC">
         
                   <ion-col size="2" *ngIf="(listeC.id == 27)"><ion-img src="../assets/image/20.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
           
                   <ion-col style="position:relative;top:1px;"  size="2" *ngIf="(listeC.id == 32)"><ion-img src="../assets/image/6/5.5.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col> 
 
                 <ion-col size="2" *ngIf="(listeC.id == 7)"><ion-img src="../assets/image/24.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
             
                 <ion-col style="position:relative;top:1px;" size="2" *ngIf="(listeC.id == 28)"><ion-img src="../assets/image/6/1.1.png" (click)="DetailsPage(listeC)"></ion-img>
                </ion-col>


               </div>
             </ion-row>
       </ion-grid>
                      
       
                     <ion-grid>
                        <ion-row >
                <div *ngFor="let listeC of listeC">
                  
                 <ion-col size="2" *ngIf="(listeC.id == 31)"><ion-img src="../assets/image/6/4.4.png" (click)="DetailsPage(listeC)"></ion-img>
                </ion-col>
               
                <ion-col size="2" *ngIf="(listeC.id == 26)"><ion-img src="../assets/image/19.png" (click)="DetailsPage(listeC)"></ion-img>
                </ion-col>
      
                <ion-col size="2" *ngIf="(listeC.id == 6)"><ion-img src="../assets/image/23.png" (click)="DetailsPage(listeC)"></ion-img>
              </ion-col>
        
                <ion-col size="2" *ngIf="(listeC.id == 10)"><ion-img src="../assets/image/27.png" (click)="DetailsPage(listeC)"></ion-img>
              </ion-col> 
             </div>
          </ion-row>
             </ion-grid>
             
 
 
            <ion-grid>
                <ion-row >
          <div  *ngFor="let listeC of listeC">
                 <ion-col size="2" *ngIf="(listeC.id == 25)"><ion-img src="../assets/image/18.png" (click)="DetailsPage(listeC)"></ion-img>
                   </ion-col>
         
                   <ion-col size="2" *ngIf="(listeC.id == 5)"><ion-img src="../assets/image/22.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
           
                   <ion-col size="2" *ngIf="(listeC.id == 9)"><ion-img src="../assets/image/26.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col> 
 
                 <ion-col size="2" *ngIf="(listeC.id == 30)"><ion-img src="../assets/image/6/3.3.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
               
               </div>
             </ion-row>
       </ion-grid>
           
 
               <ion-grid>
                   <ion-row >
             <div  *ngFor="let listeC of listeC">
 
             <ion-col size="2" *ngIf="(listeC.id == 24)"><ion-img src="../assets/image/17.png" (click)="DetailsPage(listeC)"></ion-img>
            </ion-col>
         
           
 
            <ion-col size="2" *ngIf="(listeC.id == 4)"><ion-img src="../assets/image/21.png" (click)="DetailsPage(listeC)"></ion-img>
            </ion-col>
  
            <ion-col size="2"  *ngIf="(listeC.id == 8)"><ion-img src="../assets/image/25.png" (click)="DetailsPage(listeC)"></ion-img>
          </ion-col>
     
          <ion-col size="2" *ngIf="(listeC.id == 29)"><ion-img src="../assets/image/6/2.2.png" (click)="DetailsPage(listeC)"></ion-img>
          </ion-col> 
          <ion-col size="2" *ngIf="(listeC.id == 33)"><ion-img src="../assets/image/6/6.6.png" (click)="DetailsPage(listeC)"></ion-img>
          </ion-col>
        </div>
         </ion-row>
         </ion-grid>
   </div>
  
</ion-content>


<ion-content padding class="size2">
  <br>
  <ion-list   style="margin-left:12vmin;width:75%;height:30px;background-color: rgb(225, 192, 7); border-radius: 60px;position: relative;" >
    <ion-item color="warning">
      <div class="col text-center">
      <p style="color:#083378;font-size:4vmin;top:-2px;position:relative;font-family: 'Cairo', sans-serif;" color="primary" ><b> اضغط هنا للبحث عن الدائرة</b></p>
<ion-select style=" color:#083378;margin-left:500vmin;"   (ionChange)="onContextChange($event.detail.value)"  okText="موافق" cancelText="رجوع">
         <div *ngFor="let circonscription of circonscription">
            <ion-select-option value={{circonscription.nom}}> {{ circonscription.nom }} </ion-select-option>
          </div>
      </ion-select>
    </div>
    </ion-item>
  </ion-list>

  <div class="legrid">
         <ion-grid>
           <ion-row >
               <div  *ngFor="let listeC of listeC">
                 <ion-col size="2" *ngIf="(listeC.id == 11)"><ion-img src="../assets/image/4.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
     
                 <ion-col size="2" *ngIf="(listeC.id == 23)"><ion-img src="../assets/image/16.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
       
               <ion-col size="2" *ngIf="(listeC.id == 19)" ><ion-img src="../assets/image/12.png" (click)="DetailsPage(listeC)"></ion-img>
             </ion-col> 
 
             <ion-col size="2" *ngIf="(listeC.id == 15)"><ion-img src="../assets/image/8.png" (click)="DetailsPage(listeC)"></ion-img>
             </ion-col>
               </div>
         </ion-row>
   </ion-grid> 
   
      
 
       <ion-grid>
         <ion-row >
             <div  *ngFor="let listeC of listeC">
                   <ion-col size="2" *ngIf="(listeC.id == 3)" ><ion-img src="../assets/image/3.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
           
                   <ion-col size="2" *ngIf="(listeC.id == 22)"><ion-img src="../assets/image/15.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col> 
 
                 <ion-col size="2" *ngIf="(listeC.id == 14)"><ion-img src="../assets/image/7.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
 
                 <ion-col size="2" *ngIf="(listeC.id == 18)"><ion-img src="../assets/image/11.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
               </div>
             </ion-row>
       </ion-grid>
 
 
   
       <ion-grid>
         <ion-row >
             <div  *ngFor="let listeC of listeC">
               <ion-col size="2" *ngIf="(listeC.id == 2)" ><ion-img src="../assets/image/2.png" (click)="DetailsPage(listeC)"></ion-img>
               </ion-col>
 
                 <ion-col size="2" *ngIf="(listeC.id == 13)"><ion-img src="../assets/image/6.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
             
                 <ion-col size="2" *ngIf="(listeC.id == 17)"><ion-img src="../assets/image/10.png" (click)="DetailsPage(listeC)"></ion-img>
                </ion-col>
             
                 <ion-col size="2" *ngIf="(listeC.id == 21)"><ion-img src="../assets/image/14.png" (click)="DetailsPage(listeC)"></ion-img>
                </ion-col>
               </div>
          </ion-row>
   </ion-grid>
    
 <ion-grid>
           <ion-row >
               <div  *ngFor="let listeC of listeC">
                     <ion-col size="2" *ngIf="(listeC.id == 12)"><ion-img src="../assets/image/5.png" (click)="DetailsPage(listeC)"></ion-img>
                       </ion-col>
             
                       <ion-col size="2" *ngIf="(listeC.id == 16)"><ion-img src="../assets/image/9.png" (click)="DetailsPage(listeC)"></ion-img>
                     </ion-col>
               
                       <ion-col size="2" *ngIf="(listeC.id == 20)"><ion-img src="../assets/image/13.png" (click)="DetailsPage(listeC)"></ion-img>
                     </ion-col> 
                     <ion-col size="2" *ngIf="(listeC.id == 1)"><ion-img src="../assets/image/1.png" (click)="DetailsPage(listeC)"></ion-img>
                     </ion-col>
                   </div>
                 </ion-row>
           </ion-grid>
 
                   <ion-grid>
                     <ion-row >
                     <div  *ngFor="let listeC of listeC">
         
                   <ion-col size="2" *ngIf="(listeC.id == 27)"><ion-img src="../assets/image/20.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
           
                   <ion-col style="position:relative;top:1px;"  size="2" *ngIf="(listeC.id == 32)"><ion-img src="../assets/image/6/5.5.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col> 
 
                 <ion-col size="2" *ngIf="(listeC.id == 7)"><ion-img src="../assets/image/24.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
             
                 <ion-col style="position:relative;top:1px;" size="2" *ngIf="(listeC.id == 28)"><ion-img src="../assets/image/6/1.1.png" (click)="DetailsPage(listeC)"></ion-img>
                </ion-col>


               </div>
             </ion-row>
       </ion-grid>
                      
       
                     <ion-grid>
                        <ion-row >
                <div *ngFor="let listeC of listeC">
                  
                 <ion-col size="2" *ngIf="(listeC.id == 31)"><ion-img src="../assets/image/6/4.4.png" (click)="DetailsPage(listeC)"></ion-img>
                </ion-col>
               
                <ion-col size="2" *ngIf="(listeC.id == 26)"><ion-img src="../assets/image/19.png" (click)="DetailsPage(listeC)"></ion-img>
                </ion-col>
      
                <ion-col size="2" *ngIf="(listeC.id == 6)"><ion-img src="../assets/image/23.png" (click)="DetailsPage(listeC)"></ion-img>
              </ion-col>
        
                <ion-col size="2" *ngIf="(listeC.id == 10)"><ion-img src="../assets/image/27.png" (click)="DetailsPage(listeC)"></ion-img>
              </ion-col> 
             </div>
          </ion-row>
             </ion-grid>
             
 
 
            <ion-grid>
                <ion-row >
          <div  *ngFor="let listeC of listeC">
                 <ion-col size="2" *ngIf="(listeC.id == 25)"><ion-img src="../assets/image/18.png" (click)="DetailsPage(listeC)"></ion-img>
                   </ion-col>
         
                   <ion-col size="2" *ngIf="(listeC.id == 5)"><ion-img src="../assets/image/22.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
           
                   <ion-col size="2" *ngIf="(listeC.id == 9)"><ion-img src="../assets/image/26.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col> 
 
                 <ion-col size="2" *ngIf="(listeC.id == 30)"><ion-img src="../assets/image/6/3.3.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
               
               </div>
             </ion-row>
       </ion-grid>
           
 
               <ion-grid>
                   <ion-row >
             <div  *ngFor="let listeC of listeC">
 
             <ion-col size="2" *ngIf="(listeC.id == 24)"><ion-img src="../assets/image/17.png" (click)="DetailsPage(listeC)"></ion-img>
            </ion-col>
         
           
 
            <ion-col size="2" *ngIf="(listeC.id == 4)"><ion-img src="../assets/image/21.png" (click)="DetailsPage(listeC)"></ion-img>
            </ion-col>
  
            <ion-col size="2"  *ngIf="(listeC.id == 8)"><ion-img src="../assets/image/25.png" (click)="DetailsPage(listeC)"></ion-img>
          </ion-col>
     
          <ion-col size="2" *ngIf="(listeC.id == 29)"><ion-img src="../assets/image/6/2.2.png" (click)="DetailsPage(listeC)"></ion-img>
          </ion-col> 
          <ion-col size="2" *ngIf="(listeC.id == 33)"><ion-img src="../assets/image/6/6.6.png" (click)="DetailsPage(listeC)"></ion-img>
          </ion-col>
        </div>
         </ion-row>
         </ion-grid>
   </div>
  
</ion-content>


<ion-content padding class="size3">
  <br>
  <ion-list  style="width:60%;height:50px;background-color: rgb(225, 192, 7); border-radius: 60px;position: relative;margin-left:19vmin;" >
    <ion-item color="warning">
      <div class="col text-center">
      <p style="color:#083378;font-size:3vmin;top:1px;position:relative;font-family: 'Cairo', sans-serif;" color="primary" ><b> اضغط هنا للبحث عن الدائرة</b></p>
<ion-select style=" color:#083378;margin-left:500vmin;"   (ionChange)="onContextChange($event.detail.value)"  okText="موافق" cancelText="رجوع">
         <div *ngFor="let circonscription of circonscription">
            <ion-select-option value={{circonscription.nom}}> {{ circonscription.nom }} </ion-select-option>
          </div>
      </ion-select>
    </div>
    </ion-item>
  </ion-list>

  <div class="legrid">
         <ion-grid>
           <ion-row >
               <div  *ngFor="let listeC of listeC">
                 <ion-col size="2" *ngIf="(listeC.id == 11)"><ion-img src="../assets/image/4.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
     
                 <ion-col size="2" *ngIf="(listeC.id == 23)"><ion-img src="../assets/image/16.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
       
               <ion-col size="2" *ngIf="(listeC.id == 19)" ><ion-img src="../assets/image/12.png" (click)="DetailsPage(listeC)"></ion-img>
             </ion-col> 
 
             <ion-col size="2" *ngIf="(listeC.id == 15)"><ion-img src="../assets/image/8.png" (click)="DetailsPage(listeC)"></ion-img>
             </ion-col>
               </div>
         </ion-row>
   </ion-grid> 
   
      
 
       <ion-grid>
         <ion-row >
             <div  *ngFor="let listeC of listeC">
                   <ion-col size="2" *ngIf="(listeC.id == 3)" ><ion-img src="../assets/image/3.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
           
                   <ion-col size="2" *ngIf="(listeC.id == 22)"><ion-img src="../assets/image/15.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col> 
 
                 <ion-col size="2" *ngIf="(listeC.id == 14)"><ion-img src="../assets/image/7.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
 
                 <ion-col size="2" *ngIf="(listeC.id == 18)"><ion-img src="../assets/image/11.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
               </div>
             </ion-row>
       </ion-grid>
 
 
   
       <ion-grid>
         <ion-row >
             <div  *ngFor="let listeC of listeC">
               <ion-col size="2" *ngIf="(listeC.id == 2)" ><ion-img src="../assets/image/2.png" (click)="DetailsPage(listeC)"></ion-img>
               </ion-col>
 
                 <ion-col size="2" *ngIf="(listeC.id == 13)"><ion-img src="../assets/image/6.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
             
                 <ion-col size="2" *ngIf="(listeC.id == 17)"><ion-img src="../assets/image/10.png" (click)="DetailsPage(listeC)"></ion-img>
                </ion-col>
             
                 <ion-col size="2" *ngIf="(listeC.id == 21)"><ion-img src="../assets/image/14.png" (click)="DetailsPage(listeC)"></ion-img>
                </ion-col>
               </div>
          </ion-row>
   </ion-grid>
    
 <ion-grid>
           <ion-row >
               <div  *ngFor="let listeC of listeC">
                     <ion-col size="2" *ngIf="(listeC.id == 12)"><ion-img src="../assets/image/5.png" (click)="DetailsPage(listeC)"></ion-img>
                       </ion-col>
             
                       <ion-col size="2" *ngIf="(listeC.id == 16)"><ion-img src="../assets/image/9.png" (click)="DetailsPage(listeC)"></ion-img>
                     </ion-col>
               
                       <ion-col size="2" *ngIf="(listeC.id == 20)"><ion-img src="../assets/image/13.png" (click)="DetailsPage(listeC)"></ion-img>
                     </ion-col> 
                     <ion-col size="2" *ngIf="(listeC.id == 1)"><ion-img src="../assets/image/1.png" (click)="DetailsPage(listeC)"></ion-img>
                     </ion-col>
                   </div>
                 </ion-row>
           </ion-grid>
 
                   <ion-grid>
                     <ion-row >
                     <div  *ngFor="let listeC of listeC">
         
                   <ion-col size="2" *ngIf="(listeC.id == 27)"><ion-img src="../assets/image/20.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
           
                   <ion-col style="position:relative;top:1px;"  size="2" *ngIf="(listeC.id == 32)"><ion-img src="../assets/image/6/5.5.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col> 
 
                 <ion-col size="2" *ngIf="(listeC.id == 7)"><ion-img src="../assets/image/24.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
             
                 <ion-col style="position:relative;top:1px;" size="2" *ngIf="(listeC.id == 28)"><ion-img src="../assets/image/6/1.1.png" (click)="DetailsPage(listeC)"></ion-img>
                </ion-col>


               </div>
             </ion-row>
       </ion-grid>
                      
       
                     <ion-grid>
                        <ion-row >
                <div *ngFor="let listeC of listeC">
                  
                 <ion-col size="2" *ngIf="(listeC.id == 31)"><ion-img src="../assets/image/6/4.4.png" (click)="DetailsPage(listeC)"></ion-img>
                </ion-col>
               
                <ion-col size="2" *ngIf="(listeC.id == 26)"><ion-img src="../assets/image/19.png" (click)="DetailsPage(listeC)"></ion-img>
                </ion-col>
      
                <ion-col size="2" *ngIf="(listeC.id == 6)"><ion-img src="../assets/image/23.png" (click)="DetailsPage(listeC)"></ion-img>
              </ion-col>
        
                <ion-col size="2" *ngIf="(listeC.id == 10)"><ion-img src="../assets/image/27.png" (click)="DetailsPage(listeC)"></ion-img>
              </ion-col> 
             </div>
          </ion-row>
             </ion-grid>
             
 
 
            <ion-grid>
                <ion-row >
          <div  *ngFor="let listeC of listeC">
                 <ion-col size="2" *ngIf="(listeC.id == 25)"><ion-img src="../assets/image/18.png" (click)="DetailsPage(listeC)"></ion-img>
                   </ion-col>
         
                   <ion-col size="2" *ngIf="(listeC.id == 5)"><ion-img src="../assets/image/22.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
           
                   <ion-col size="2" *ngIf="(listeC.id == 9)"><ion-img src="../assets/image/26.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col> 
 
                 <ion-col size="2" *ngIf="(listeC.id == 30)"><ion-img src="../assets/image/6/3.3.png" (click)="DetailsPage(listeC)"></ion-img>
                 </ion-col>
               
               </div>
             </ion-row>
       </ion-grid>
           
 
               <ion-grid>
                   <ion-row >
             <div  *ngFor="let listeC of listeC">
 
             <ion-col size="2" *ngIf="(listeC.id == 24)"><ion-img src="../assets/image/17.png" (click)="DetailsPage(listeC)"></ion-img>
            </ion-col>
         
           
 
            <ion-col size="2" *ngIf="(listeC.id == 4)"><ion-img src="../assets/image/21.png" (click)="DetailsPage(listeC)"></ion-img>
            </ion-col>
  
            <ion-col size="2"  *ngIf="(listeC.id == 8)"><ion-img src="../assets/image/25.png" (click)="DetailsPage(listeC)"></ion-img>
          </ion-col>
     
          <ion-col size="2" *ngIf="(listeC.id == 29)"><ion-img src="../assets/image/6/2.2.png" (click)="DetailsPage(listeC)"></ion-img>
          </ion-col> 
          <ion-col size="2" *ngIf="(listeC.id == 33)"><ion-img src="../assets/image/6/6.6.png" (click)="DetailsPage(listeC)"></ion-img>
          </ion-col>
        </div>
         </ion-row>
         </ion-grid>
   </div>
  
</ion-content>

<ion-tab-bar slot="bottom"  color="warning">
  <ion-tab-button routerLink="/resultat">
    <ion-img class="labb" src="../assets/image/1a.png" color="primary"></ion-img>
    <ion-label class="lab" color="light">النتائج
    </ion-label>
  </ion-tab-button>

<ion-tab-button routerLink="/liste">
  <ion-img class="labb" src="../assets/image/2a.png" color="primary"></ion-img>
<ion-label  class="lab" color="primary">القائمات
</ion-label>
</ion-tab-button>

<ion-tab-button  routerLink="/client">
  <ion-img class="labb" src="../assets/image/3a.png" color="primary"></ion-img>
<ion-label class="lab"  color="light">من نحن
</ion-label>
</ion-tab-button>

<ion-tab-button  routerLink="/home">
  <ion-img class="labb" src="../assets/image/4a.png" color="primary"></ion-img>
  <ion-label class="lab" color="light">تشريعية 2019
  </ion-label>
</ion-tab-button>
</ion-tab-bar>