<ion-header>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-img src="../assets/image/a.png" width="20vmin">
                    </ion-img>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="my-grid">
        <ion-row class="parent-row">
            <ion-col class="col text-center">
                <ion-button color="warning" shape="round" routerLink="/resultat2" (click)="alert()" style="position: relative;
        height:15vmin;
        font-family: 'Cairo', sans-serif;">
                    <ion-text style="color:#083378;font-size:5vmin;"><b> نتائج مجلس نواب الشعب </b></ion-text>
                </ion-button>
                <br><br><br><br><br>
                <ion-button color="light" shape="round" routerLink="/resultat1" style="position: relative;
height:15vmin;
font-family: 'Cairo', sans-serif;">
                    <ion-text color="primary"><b style="font-size:5vmin;">  تركيبة مجلس نواب الشعب </b></ion-text>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <br><br><br>
</ion-content>


<ion-tab-bar slot="bottom" color="warning">
    <ion-tab-button routerLink="/resultat">
        <ion-img class="labb" src="../assets/image/1a.png" color="primary"></ion-img>
        <ion-label class="lab" color="primary">النتائج
        </ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/liste">
        <ion-img class="labb" src="../assets/image/2a.png" color="primary"></ion-img>
        <ion-label class="lab" color="light">القائمات
        </ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/client">
        <ion-img class="labb" src="../assets/image/3a.png" color="primary"></ion-img>
        <ion-label class="lab" color="light">من نحن
        </ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/home">
        <ion-img class="labb" src="../assets/image/4a.png" color="primary"></ion-img>
        <ion-label class="lab" color="light">تشريعية 2019
        </ion-label>
    </ion-tab-button>
</ion-tab-bar>