<ion-header>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-img src="../assets/image/a.png" width="20vmin">
                    </ion-img>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card color="light" style="border-radius:7% ;">
        <ion-card-header>
            <ion-card-subtitle>
                <ion-img class="aaaa" src="../assets/image/a.png"></ion-img>
            </ion-card-subtitle>
            <hr color="light" style="position:relative;top:-2vmin;">
            <ion-card-title style="position:relative;top:-8vmin;font-size:4vmin;font-family: 'Cairo', sans-serif;direction:rtl; text-align: center; ">
                <br> صمّم هذا التطبيق "تشريعية 2019" للسماح للمواطنين بمتابعة الحملة الانتخابية المتعلقة بالانتخابات التشريعية 2019 بشكل أفضل، أسهل وأوضح. يمكّن هذا التطبيق من التعرف على القائمات الانتخابية المترشحة وذلك في كل الدائرات الانتخابية، ويوفر
                أيضا التطبيق "تشريعية 2019" العديد من المعلومات المتعلقة بالقوائم المترشحة كما يقدم هذا التطبيق نتائج الانتخابات فور صدورها
            </ion-card-title>
        </ion-card-header>
    </ion-card>



    <ion-card color="light" style="border-radius:7% ;">
        <ion-card-header>
            <ion-card-subtitle>
                <ion-img src="../assets/image/logo1.png" style="height:10%;width:95%;"></ion-img>
            </ion-card-subtitle>
            <hr color="light" style="position:relative;top:-3vmin;">
            <ion-card-title style="position:relative;top:-5vmin;font-size:4vmin;font-family: 'Cairo', sans-serif;direction:rtl; text-align: center;">
                تدعم هذا البرنامج للمنظمة الدولية للتقرير عن الدّيمقراطيّة وزارة الشؤون الخارجية للجمهورية الفدرالية الألمانية
            </ion-card-title>
        </ion-card-header>

    </ion-card>

</ion-content>


<ion-tab-bar slot="bottom" color="warning">
    <ion-tab-button class="image" routerLink="/resultat">
        <ion-img class="labb" src="../assets/image/1a.png" color="primary"></ion-img>
        <ion-label class="lab" color="light">النتائج
        </ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/liste">
        <ion-img class="labb" src="../assets/image/2a.png" color="primary"></ion-img>
        <ion-label class="lab" color="light">القائمات
        </ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/client">
        <ion-img class="labb" src="../assets/image/3a.png" color="primary"></ion-img>
        <ion-label class="lab" color="light">من نحن
        </ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/home">
        <ion-img class="labb" src="../assets/image/4a.png" color="primary"></ion-img>
        <ion-label class="lab" color="primary">تشريعية 2019
        </ion-label>
    </ion-tab-button>
</ion-tab-bar>