ion-content {
  --background: url('../../assets/image/logo.png') no-repeat center center / cover;
}

ion-title {
  font-family: "Cairo", sans-serif;
  position: absolute;
  left: 50%;
}

.lab {
  top: 32px;
  position: absolute;
  font-family: 'Cairo', sans-serif;
}

.labb {
  top: 10px;
  position: absolute;
}