ion-content {
  
    --background: url('../../assets/image/logo.png')no-repeat center center / cover;
  }

  

  h1 {
    font-family: 'Cairo', sans-serif;
    font-size: 4vmin;
    color: rgb(225, 192, 7);
    position: absolute;
  }